{% extends 'layout.html' %}

{% block content %}
{% for post in stream %}
    <article>
        <h2>
            {% if current_user.is_authenticated and post.user.username != 'account_deleted' %}
            <a href="{{ url_for('stream', username=post.user.username) }}">{{ post.user.username }}</a>
            {% else %}
            <h2>{{ post.user.username }}</h2>
            {% endif %}
        </h2>
        <div class="post">
            {{ post.content }}
        </div>
        <i class="clock"></i><time data-time="{{ post.timestamp }}" class="distime"
                                   datetime="{{ post.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}">
        {{ post.timestamp }}</time>
        <a href="{{ url_for('view_post', post_id=post.id) }}" class="view">View</a>
    </article>
{% endfor %}
{% endblock %}