{% extends 'stream.html' %}

{% block content %}
    <div class="row">
        <h1>{{ user.username }}</h1>
    </div>
    <div class="grid-50">
        <div class="grid-33">
            <h5>Posts</h5>
            <p>{{ user.posts.count() }}</p>
        </div>
        <div class="grid-33">
            <h5>Followers</h5>
            <p>{{ user.followers().count() }}</p>
        </div>
        <div class="grid-33">
            <h5>Following</h5>
            <p>{{ user.following().count() }}</p>
        </div>
    </div>
    <div class="grid-25">
        <!-- follow/block button -->
    {% if current_user.is_authenticated %}
        {% if user != current_user and user.username != 'account_deleted' %}
            <!-- follow/unfollow -->
            {% if not user in current_user.following() %}
                <a href="{{ url_for('follow', username=user.username) }}" class="small">Follow</a>
            {% else %}
                <a href="{{ url_for('unfollow', username=user.username) }}" class="small">Unfollow</a>
            {% endif %}
            <!-- block/unblock -->
            {% if not user in current_user.blocked_users() %}
                <a href="{{ url_for('block', username=user.username) }}" class="small">Block user</a>
            {% endif %}
        {% elif user == current_user and user.username != 'account_deleted' %}
            <div class="grid-33">
                <a href="{{ url_for('update_options') }}">Update</a>
            </div>
            <div class="grid-33">
                <a href="{{ url_for('delete_account') }}">Delete account</a>
            </div>
            {% if current_user.blocked_users() %}
                {% for blocked in current_user.blocked_users() %}
                    <h2>{{ blocked.username }}</h2>
                    <p><a href="{{ url_for('unblock', username=blocked.username) }}" class="small">Unblock {{ blocked.username }}</a></p>
                {% endfor %}
            {% endif %}
        {% endif %}
    {% endif %}
    </div>
{{ super() }}
{% endblock %}